* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #455a64;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background-color: #263238;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 300px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: .5rem;
}

.pantalla {
    grid-column: 1 / 5;
    background-color: #455a64;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 500;
    overflow: hidden;
}

.btn {
    background-color: #263238;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    font-size: rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #455a64;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: #8d6e63;
}

#igual:hover {
    background-color: #a1887f;
}
